[package]
name = "id-contact-24sessions"
authors = ["Henk Dieter Oordt <hd@oordt.dev>"]
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
id-contact-jwt = { git = "https://github.com/id-contact/id-contact-jwt.git" }
id-contact-proto = { git = "https://github.com/id-contact/id-contact-proto.git" }
id-contact-comm-common = { git = "https://github.com/id-contact/comm-common.git", features = ["auth_during_comm", "session_db"]}
josekit = "0.7.1"
postgres = "0.19.0"
rand = "0.8.3"
rocket = { git = "https://github.com/SergioBenitez/Rocket" }
rocket_contrib = { git = "https://github.com/SergioBenitez/Rocket", features=["postgres_pool"] }
serde = "1.0.123"
serde_json = "1.0.61"
thiserror = "1.0.24"
reqwest = {version = "0.11.3", features = ["json"]}
strum = "0.20.0"
strum_macros = "0.20.1"
