$background: whitesmoke;
$border: lightgray;
$background-card: white;
$font-light: gray;


html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $background;
    font-size: 17px;
}

#root {
    height: 100%;
}

.id-contact {
    padding: 10px 20px;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .attr-card {
        display: block;
        font-weight: bold;
        background-color: $background-card;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 1px solid $border;
        padding-bottom: 5px;

        font-size: 17px;

        .attr-body {
            padding: 10px 0;
        }

        .attr-row {
            padding: 4px 16px 4px 8px;
            display: flex;
            align-items: center;
            
            .attr-key {
                display: block;
                font-size: 15px;
                text-transform: uppercase;
                color: $font-light;
                margin: 0 5px;

                display: inline-block;
            }

            .attr-badge {
                display: flex;
                align-items: center;

                background-color: $background;
                border-radius: 20px;
                border: 1px solid $border;

                overflow: hidden;

                font-size: 17px;
                padding: 6px 12px;
                margin-left: 10px;
                
                .attr-badge-icon {
                    top: -2px;
                    position: relative;
                    vertical-align: middle;
                    font-size: 20px;
                    margin-right: 5px;
                    line-height: 0;
                }

                .attr-value {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .attr-value:hover {
                    width: auto;
                    white-space: normal;
                }
            }
        }

        .attr-header {
            border-bottom: 1px solid $border;
            padding: 4px 0;

            .attr-name {
                margin-left: 10px;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .attr-name:hover {
                width: auto;
                white-space: normal;
            }

            .attr-check {
                margin: 5px;
                display: inline-block;
                color: green;
                font-size: 30px;
                line-height: 0;
            }
        }
    }

    .no-attrs {
        color: $font-light;
        position: relative;
        width: 350px;
        font-size: 19px;
        top: 50%;
        margin: 0 auto;
    }

    .content {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }
    
    .powered-by {
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        margin-top: auto;
        
        .top {
            color: $font-light;
            font-size: 15px;
            margin-top: 0px;
            margin-bottom: 10px;
        }
        .bottom {
            margin-top: 0px;
            margin-bottom: 10px;
            color: $font-light;
            font-weight: bold;
            font-size: 20px;
        }
    }
}
